* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

nav {
    height: 150px; 
    font-size: 12px;
}

nav > * {
    padding: 10px;
}

nav li {
    display: inline-block;
    padding: 0 5px;
    color: gray;
}

nav li:hover {
    font-weight: bold;
    cursor: pointer;
}


ul {
    list-style: none;
    padding: 10px;
}

.nav-part1 {
    background-color: black;
}

.nav-part2 li:hover {
    color: black;
}


.nav-part3, .nav-part3 a {
    background-color: yellow;
    text-decoration: none;  
    color: black;
}

.fa-search {
    float: right;
    border-left: 1px solid grey;
    margin: 0 5px 8px 0;
    padding: 0 5px;
    cursor: pointer;
}

.part1-item2 {
    float: right;
}


/* main */
.grid1 {
    display:flex;
    flex-wrap: wrap;
    margin: 5px;
}

.grid1-item1 {
    background-image: url("/assets/Whatsapp-bug-warning-796x420.jpg");
    background-position: center;
    height: 400px;
    width: 60%;
    position: relative;

}

.item1-link {
    position: absolute;
    bottom: 0px;
    margin: 2px;
}

.item1-link > a {
    font-size: 35px;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.item1-link small *,
.item1-link small {
    color: gray;
    text-decoration: none;
    padding: 6px;
}

.overlay {
    width: 100%;
    height: 100%;
    position: relative;
    background: linear-gradient(130deg, red, rgba(0, 0, 0, 0.671)90%);
}

.overlay img{
    margin: 0 30px;
    position: absolute;
    top: -55px;
    width: 35%;
    height: 50%;
    
}


    


.overlay span {
    float: right;
    color: lightgray;
    margin: 15px;
}

.grid2 {
    display: flex;
    flex-wrap: wrap;
}

.grid3 {
    display: flex;
    flex-wrap: wrap;
}

.grid4 {
    display: flex;
    flex-wrap: wrap;
}

.grid5 {
    display: flex;
    flex-wrap: wrap;
}










@media (max-width: 1024px) {
    .grid3-item5 {
        display: none;
    }
    .overlay {
        display: none;
    }
}

@media (max-width: 768px) {
    
}
